<div>
  <div class="banner">
    <div id="explore">Explore</div>
    <a class="btn btn-primary" href="/cars" role="button" id="banner-btn">Rent Now</a>
  </div>
  <div class="info-page">
    <p>Car rental service made easy</p>
    <hr style="border-top: 1px solid #d0d0d0;">
  </div>
</div>

<div class="container">
  <% if user_signed_in? %>
  <% else %>
    <p>We provide rental services for car sharing.</p>
    <p>Login/Signup to begin car sharing</p>
  <% end %>
</div>


