<div>
  <div class="banner">
    <div id="explore">Explore</div>
  </div>
  <div class="info-page">
    <a class="btn btn-primary" href="/cars" role="button" id="banner-btn">Rent Now</a>
    <p>Car rental service made easy</p>
    <hr style="border-top: 1px solid #d0d0d0;">
    <div>
      <p style="font-size: 20px; margin-top: 80px">Gorgeous cars at an affordable rate</p>
      <p style="font-size: 20px">Travel to your dream destination</p>
    </div>
  </div>
  <hr>
  <footer class="text-center">
    <p>2020 Airbnb For Cars</p>
    <p style="font-size: 10px">All rights not reserved</p>
  </footer>
</div>

<div class="container">
  <% if user_signed_in? %>
  <% else %>
    <p>We provide rental services for car sharing.</p>
    <p>Login/Signup to begin car sharing</p>
  <% end %>
</div>


