.banner {
  font-weight: 500;
  width: 100%;
  background-image: url(https://d5qsyj6vaeh11.cloudfront.net/images/about%20ireland/vehicle%20rental/mm-vehicle-rental-car-bg.jpg);
  height: 100%;
  background-position: right;
  color: #d0d0d0;
  font-size: 160px;
  text-align: center;
  text-shadow: 1px 4px 12px black;
}

#banner-btn {
  text-shadow: none;
  position: relative;
  top: -88px;
  font-size: 28px;
}
.info-page {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  background-color: #00242a;
  height: 405px;
  background-position: right;
  color: #d0d0d0;
  font-size: 40px;
  text-align: center;
  padding: 40px 0 0 0;
}