.btn.btn-primary {
  background-color: #882D30fa;
  border: 0;
  box-shadow: 1px 1px 8px #00000040;
}

.btn.btn-secondary {
  background-color: #204557;
  border: 0;
  box-shadow: 1px 1px 8px #00000040;
}