<div style="width: 400px;margin: 0 auto;">
  <div id="wrapper" class="p-0">
    <div class="container" style="width: 400px; margin: 10px 0;">
      <h1>Edit your car</h1>
    </div>

    <%= render "form/form", car: @car %>
  </div>
</div>